{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello :wave:</h1>
    <div id="my_test"></div>
    <div class="content">
{#        <div class="left column">#}
{#            <p>Avant :</p>#}
{#            <pre>{{ text }}</pre>#}
{#        </div>#}
{#        <div class="right column">#}
{#            <p>Après :</p>#}
{#            <pre>{{ transformed }}</pre>#}
{#        </div>#}
{#    </div>#}

{#    <div class="content">#}
{#        <div class="left column">#}
{#            {{ text|raw }}#}
{#        </div>#}
{#        <div class="right column">#}
{#            {{ transformed|raw }}#}
{#        </div>#}
    </div>

    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="{{ asset('js/index.js') }}" type="module"></script>
{% endblock %}
